[tool.poetry]
name = "werkit"
version = "0.22.0"
description = "Toolkit for encapsulating Python-based computation into deployable and distributable tasks"
authors = ["Paul Melnikow <github@paulmelnikow.com>", "Metabolize"]
license = "MIT"
include = ["CHANGELOG.md"]
exclude = ["**/test_*.py"]
homepage = "https://werkit.readthedocs.io/en/stable/"
repository = "https://github.com/lace/werkit"
documentation = "https://ounce.readthedocs.io/en/werkit/"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: System :: Distributed Computing",
    "Topic :: Scientific/Engineering",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.7,<4"
boto3 = {version = "1.18.55", optional = true}
click = {version = "^8.0.3", optional = true}
executor = {version = ">=21.0", optional = true}
harrison = {version = "^2.0", optional = true}
# Pin to 0.18.0 to work around a Poetry install problem with 0.18.1 on OS X 10.15.7.
pyrsistent = {version = "0.18.0", optional = true}
rds-graphile-worker-client = {version = "^0.1.1", optional = true}
semver = "3.0.0.dev2"
simplejson = "^3.17.5"
jsonschema = "^4.1.2"
artifax = {version = "0.3", optional = true}
# artifax = {git = "https://github.com/curvewise-forks/artifax.git", rev = "2e496525a04185525cfedbb3a9375101ec7faec1", optional = true}
# Temporarily declare artifax dependencies until we publish an artifax fork.
# pathos = {version = "*", optional = true}
# exos = {version = "*", optional = true}

[tool.poetry.extras]
aws_lambda_build = ["executor"]
client = ["boto3"]
lambda_common = ["harrison"]
cli = ["click"]
rds_graphile_worker = ["rds-graphile-worker-client"]
compute_graph = ["artifax", "pathos", "exos"]

[tool.poetry.dev-dependencies]
black = "21.11b1"
click = "8.0.3"
coverage = "5.5"
coveralls = "3.2.0"
executor = "23.2"
flake8 = "4.0.1"
flake8-import-order = "0.18.1"
freezegun = "1.1.0"
pytest = "6.2.5"
pytest-cov = "3.0.0"
python-dotenv = ">=0.17.1<0.18"
twine = "^3.4.2"
mypy = "^0.931"
types-freezegun = "^1.1.6"
types-simplejson = "^3.17.3"

[build-system]
# Lint requires setuptools.
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = ["slow"]
norecursedirs = ["build", "node_modules"]

[tool.coverage.report]
omit = [
    "**/test_*.py",
    "werkit/orchestrator/testing/worker_service/*.py",
]
