-r requirements.txt

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Documentation.
Sphinx
recommonmark

# Unit tests.
pytest ==5.4.1
pytest-cov == 2.8.1
pytest-redis==2.0.0
asynctest==0.13.0

# Optional dependencies.
redis==3.3.11
git+https://github.com/rq/rq.git@cf501518534429640a9a6d14e022f9329225e701#egg=rq

black ==19.10b0
flake8 >=3.7.7,<4.0

# For CI.
coveralls ==1.11.1
