-r requirements.txt
-r requirements_client.txt
-r requirements_aws_lambda_build.txt

# Used in dev.py.
click >=7.0,<8.0

# Documentation.
Sphinx
recommonmark

# Unit tests.
pytest ==6.2.3
pytest-cov == 2.11.1
pytest-redis==2.0.0
freezegun==1.1.0

# Optional dependencies.
redis==3.5.3
git+https://github.com/rq/rq.git@cf501518534429640a9a6d14e022f9329225e701#egg=rq

black ==21.4b2
flake8==3.8.4
flake8-import-order==0.18.1

# For CI.
coveralls ==3.0.1

python-dotenv==0.17.1
